
body {
    background-color: aliceblue;
}


form {
    display: grid;
    justify-content: center;
    font-weight: bold;
    margin: 100px auto 0;
    gap: 10px;
}

.style-form {
    display: flex;

    @media (max-width: 992px) {
        display: flex;
        flex-direction: column;
    }
}

h2 {
    margin: 0 auto;
}

.input-row {
  display: grid;
  align-items: center;
}

label {
    font-size: 20px;
    margin: 0 0 2px;
    
}

input {
    width: 400px;
    height: 40px;
    border: 2px solid gray;
    transition: border-color 0.2s ease;
    border-radius: 8px;
     background-color: transparent;
     margin-bottom: 15px;
     font-size: 20px;
}

input:hover {
border-color: black;
}

input:focus {
  border-color: black;
  outline: none;
}

button {
    width: 140px;
    height: 40px;
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
    margin: 0 auto;
     background-color: transparent;

}

.error-message {
    font-size: 15px;
    margin: 0 auto;
} 


